@charset "utf-8";

/* CSS Reset */
@import 'normalize';

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Site's custom CSS */
body {
  height: 100vh;
  width: 100vw;
  background: black url(../images/bg.jpg) no-repeat center top / cover;
  font-family: 'Playfair Display', sans-serif;
}

.info {
  height: 100%;
  width: 100%;
  display: table;
  background: rgba(black,.5);

  .text {
    display: table-cell;
    vertical-align: middle;
    padding: 35px;
    position: relative;
    z-index: 1;

    h1 {
      text-transform: uppercase;
      color: white;
      font-weight: 900;
      font-size: 64px;
      letter-spacing: 5px;
      font-family: 'Lato', sans-serif;
      margin: 0;
    }

    h2 {
      font-family: 'Playfair Display', sans-serif;
      font-weight: normal;
      font-size: 24px;
      color: white;
      letter-spacing: 2px;
      margin: 0;
    }
  }

  .particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    .circle,
    .square,
    .cross,
    .triangle,
    .arrow {
      position: absolute;
    }

    .circle {
      top: 15%;
      left: 5%;
    }

    .cross  {
      top: 8%;
      left: 55%;
    }

    .triangle {
      top: 85%;
      left: 10%
    }

    .square {
      top: 75%;
      left: 60%;
    }

    .arrow {
      top: 45%;
      left: 80%;
      -webkit-transform: rotate(24deg);
              transform: rotate(24deg);
    }
  }

  .social {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    background: rgba(black,.35);
    padding: 35px;
    position: relative;
    z-index: 3;

    a {
      text-decoration: none;
      display: block;
      margin: 0 auto;
      transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
      vertical-align: middle;

      img {
        display: block;
        margin: 0 auto 40px;
      }

      &:last-child {
        img {
          margin-bottom: 0 !important;
        }
      }

      &:hover {
        opacity: .5;
      }
    }
  }
}

/* Import media queries */
@import 'media-queries';
