@charset "utf-8";

/* CSS Reset */
@import 'normalize';

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Site's custom CSS */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

.content {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  top: 50%;
  -webkit-transform: translate3d(0,-50%,0);
          transform: translate3d(0,-50%,0);
  color: #2e2e2e;

  h1 {
    margin-top: 0;
    font-size: 42px;
    font-weight: 200;

    em {
      border-bottom: 1px solid rgba(#2e2e2e,.15);
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
  }

  ul {
    width: 100%;
    padding: 0;
    margin: 30px 0 0 0;
    list-style-type: none;
    text-align: left;

    li {
      display: inline-block;
      margin: 5px 15px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        font-size: 28px;
        color: #2e2e2e;

        i {
          -webkit-transition: transform .3s ease-in-out;
                  transition: transform .3s ease-in-out;
        }

        &:hover {
          text-decoration: none;
          i {
            -webkit-transform: scale(1.25,1.25);
                    transform: scale(1.25,1.25);
          }
        }
      }
    }
  }
}

/* Import media queries */
@import 'media-queries';
