@charset "utf-8";

/* CSS Reset */
@import 'normalize';

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Site's custom CSS */
body {
  min-height: 100vh;
  width: 100%;
  background: white;
  background: -moz-linear-gradient(-45deg,  #ffffff 0%, #ffffff 50%, #f6f6f6 50%, #f6f6f6 100%);
  background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#ffffff 50%,#f6f6f6 50%,#f6f6f6 100%);
  background: linear-gradient(135deg,  #ffffff 0%,#ffffff 50%,#f6f6f6 50%,#f6f6f6 100%);
  background-size: 520px 520px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Overpass Mono', monospace;
  color: black;
  padding: 30px;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Overpass Mono', monospace;
}

.info {
  max-width: 520px;

  &__title {
    font-size: 1.375em;
    margin: 0 0 45px;
    padding: 0 0 15px;
    border-bottom: 3px solid #f6f6f6;
  }

  &__text {
    font-size: 1em;
    line-height: 1.6;
    margin: 0 0 30px;
  }

  &__links {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &__item {
      &:not(:last-child) {
        margin: 0 0 10px;
      }

      &__link {
        display: inline-block;
        padding: 0;
        line-height: 1.4;
        text-decoration: none;
        border-bottom: 1px dotted black;
        color: black;
        outline: 0;

        &::before {
          content: '';
        }

        &:hover,
        &:focus,
        &:active,
        &:visited {
          text-decoration: none;
        }

        &:hover,
        &:active {
          color: dodgerblue;
          border-bottom: 1px dotted dodgerblue;

          &::before {
            content: '> ';
          }
        }
      }
    }
  }
}

/* Import media queries */
@import 'media-queries';
