@media screen and (max-width: 540px) {
  body {
    background-size: 75px 75px;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-size: 125px 125px;
  }
}

@media screen and (max-width: 992px) {
  body {
    background-size: 250px 250px;
  }
}
