:root {
  --background-body: #000000;
  --background: #2e2e2e;
  --background-alt: #353535;
  --selection: #444444;
  --links: #f2f2f2;
  --focus: #dadada;
  --code: #dadada;
  --button-hover: #dadada;
  --scrollbar-thumb-hover: #dadada;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  max-width: 580px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

a:hover {
  text-decoration: none;
}

a[href^='mailto\:']::before,
a[href^='tel\:']::before,
a[href^='sms\:']::before {
  display: inline-block;
  margin-right: 8px;
}

.ending-isologo {
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: 1px;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
