.initial {
  &__title {
    color: #ffffff;
    margin: 0 0 30px;
    font-size: 2.25em;
    font-weight: bold;
    letter-spacing: 2px;
  }

  &__description {
    margin: 0 auto;
    max-width: 480px;
    font-size: 1.125em;
    font-weight: normal;
    color: var(--color-gray-subtle);
    letter-spacing: 0;
    line-height: 24px;
  }
}