:root {
  // Use custom properties, i.e.:
  // --color-blue: #091B91;
  --color-gray-subtle: #cacaca;
  --color-gray-fade-1: #d1d1d1;
  --color-gray-fade-2: #a9a9a9;
  --color-gray-fade-3: #858585;
  --color-gray-fade-4: #707070;
}
