html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #000000;
  overflow-x: hidden !important;
  font-family: var(--pt-mono);
  font-size: 1em;
}

.clearfix {
  *zoom: 1;

  &::after {
    clear: both;
  }

  &::before,
  &::after {
    content: ' ';
    display: table;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--pt-mono);
}

.fullpage-container {
  background: #000000;
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  background: #000000;
  color: #ffffff;

  &__inner {
    padding: 60px 30px;
    overflow: hidden;
    margin-bottom: 25vh;

    @media screen and (min-width: 1081px) {
      margin-bottom: 0;
    }
  }

  &__title {
    color: #ffffff;
    margin: 0 0 30px;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 2px;

    @media screen and (min-width: 1081px) {
      font-size: 2.25em;
    }
  }

  &__description {
    max-width: 540px;
    font-size: .875em;
    font-weight: normal;
    color: var(--color-gray-subtle);
    letter-spacing: 0;
    margin: 0 auto;
    line-height: 16px;

    @media screen and (min-width: 769px) {
      line-height: 24px;
    }

    @media screen and (min-width: 1081px) {
      margin: 0;
      font-size: 1.125em;
    }
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  padding: 30px 30px 30px;
  z-index: 2;
  background: black;
  overflow: hidden;

  @media screen and (orientation: landscape) and (max-width: 768px) {
    background: transparent;
  }

  @media screen and (min-width: 1081px) {
    padding: 60px 30px 30px;
  }

  &__links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;

    @media screen and (min-width: 1081px) {
      display: block;
    }

    &--mobile {
      display: block;
      float: right !important;

      @media screen and (min-width: 1081px) {
        display: none;
      }
    }

    li {
      display: inline-block;
      
      &:not(:first-child) {
        margin-left: 24px;
      }
    }

    a {
      color: #ffffff;
      text-decoration: none;
      padding-bottom: 5px;
      position: relative;
      font-weight: 400;
      font-size: 0.875em;
      
      &::before {
        content: '';
        width: 100%;
        height: 1px;
        background: #ffffff;
        position: absolute;
        top: auto;
        right: auto;
        bottom: -1px;
        left: 0;
        transition: width .3s var(--ease-in-out-quart);
      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: #ffffff;

        &::before {
          width: 0;
        }
      }
    }
  }
}

.iso-small {
  width: 32px;
  height: 32px;
  background: #ffffff;
  display: block;
  position: relative;
  float: left;

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    overflow: hidden;
    background: black;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.grid-ornament {
  position: fixed;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 30px;
  z-index: 2;
}

.nav-button {
  border: 0;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  background: white;
  position: fixed;
  top: auto;
  right: auto;
  bottom: 30px;
  left: 45px;
  margin-left: -16px;
  cursor: pointer;

  @media screen and (min-width: 1081px) {
    left: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 9px 0 9px;
    border-color: #000000 transparent transparent transparent;
    transition: transform .5s var(--ease-in-out-quart);
  }

  .fp-viewing-contact & {
    &::before {
      transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }
  }
}

.animated-box {
  z-index: 3;
  opacity: 0;
  position: fixed;
  top: auto;
  right: auto;
  bottom: 25%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 248px;
  height: 68px;
  background: white;
  box-shadow: 0 0 0 0 var(--color-gray-fade-1),
              0 0 0 0 var(--color-gray-fade-2),
              0 0 0 0 var(--color-gray-fade-3),
              0 0 0 0 var(--color-gray-fade-4);
  transition: opacity .3s ease,
              top .5s var(--ease-in-out-quart) .3s,
              left .5s var(--ease-in-out-quart) .3s,
              bottom .5s var(--ease-in-out-quart) .3s,
              box-shadow .5s var(--ease-in-out-quart) .3s,
              transform .5s var(--ease-in-out-quart) .3s;
  will-change: top, left, bottom;

  @media screen and (orientation: landscape) and (max-width: 768px) {
    margin-bottom: -30px;
  }

  @media screen and (min-width: 1081px) {
    top: 50%;
    bottom: auto;
    left: 75%;
    width: 370px;
    height: 100px;
  }

  > a {
    display: block;
    width: 100%;
    opacity: 0;
    transition: all .3s ease;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 0;
    transform: translate3d(0, -50%, 0);
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-size: 1.25em;
    letter-spacing: 2px;
    z-index: -1;
    pointer-events: none;

    @media screen and (min-width: 1081px) {
      font-size: 1.75em;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #000000;
      font-size: 1.375em;

      @media screen and (min-width: 1081px) {
        font-size: 1.875em;
      }
    }
  }

  &.is-shown {
    opacity: 1;
  }

  &.delay-animation {
    transition: opacity .3s ease 1s,
                top .5s var(--ease-in-out-quart) 1.3s,
                left .5s var(--ease-in-out-quart) 1.3s,
                bottom .5s var(--ease-in-out-quart) 1.3s,
                box-shadow .5s var(--ease-in-out-quart) 1.3s,
                transform .5s var(--ease-in-out-quart) 1.3s;
  }

  .fp-viewing-partnership & {
    box-shadow: 10px 12px 0 0 var(--color-gray-fade-1),
                20px 24px 0 0 var(--color-gray-fade-2),
                30px 36px 0 0 var(--color-gray-fade-3),
                40px 48px 0 0 var(--color-gray-fade-4);
    transform: translate3d(calc(-50% - 15px), calc(-50% + 15px), 0) scale(.75);

    @media screen and (min-width: 769px) {
      transform: translate3d(calc(-50% - 15px), calc(-50% + 15px), 0);
    }

    @media screen and (min-width: 1081px) {
      box-shadow: 16px 19px 0 0 var(--color-gray-fade-1),
                  32px 38px 0 0 var(--color-gray-fade-2),
                  48px 57px 0 0 var(--color-gray-fade-3),
                  64px 76px 0 0 var(--color-gray-fade-4);
      transform: translate3d(calc(-50% - 92px), calc(-50% - 35px), 0);
    }
  }

  .fp-viewing-strengths & {
    left: 50%;
    box-shadow: -10px 12px 0 0 var(--color-gray-fade-1),
                -20px 24px 0 0 var(--color-gray-fade-2),
                -30px 36px 0 0 var(--color-gray-fade-3),
                -40px 48px 0 0 var(--color-gray-fade-4);
    transform: translate3d(calc(-50% + 15px), calc(-50% + 15px), 0) scale(.75);

    @media screen and (min-width: 769px) {
      transform: translate3d(calc(-50% + 15px), calc(-50% + 15px), 0);
    }

    @media screen and (min-width: 1081px) {
      left: 25%;
      box-shadow: -16px 19px 0 0 var(--color-gray-fade-1),
                  -32px 38px 0 0 var(--color-gray-fade-2),
                  -48px 57px 0 0 var(--color-gray-fade-3),
                  -64px 76px 0 0 var(--color-gray-fade-4);
      transform: translate3d(calc(-50% + 92px), calc(-50% - 25px), 0);
    }
  }

  .fp-viewing-experimentation & {
    box-shadow: -10px -12px 0 0 var(--color-gray-fade-1),
                -20px -24px 0 0 var(--color-gray-fade-2),
                -30px -36px 0 0 var(--color-gray-fade-3),
                -40px -48px 0 0 var(--color-gray-fade-4);
    transform: translate3d(calc(-50% + 15px), calc(-50% + 50px), 0) scale(.75);

    @media screen and (min-width: 769px) {
      transform: translate3d(calc(-50% + 15px), calc(-50% + 50px), 0);
    }

    @media screen and (min-width: 1081px) {
      box-shadow: -16px -19px 0 0 var(--color-gray-fade-1),
                  -32px -38px 0 0 var(--color-gray-fade-2),
                  -48px -57px 0 0 var(--color-gray-fade-3),
                  -64px -76px 0 0 var(--color-gray-fade-4);
      transform: translate3d(-50%, calc(-50% + 25px), 0);
    }
  }

  .fp-viewing-contact & {
    left: 50%;
    bottom: 50%;
    box-shadow: 10px -12px 0 0 var(--color-gray-fade-1),
                20px -24px 0 0 var(--color-gray-fade-2),
                30px -36px 0 0 var(--color-gray-fade-3),
                40px -48px 0 0 var(--color-gray-fade-4);
    transform: translate3d(calc(-50%), calc(-50% + 60px), 0) scale(.75);

    @media screen and (min-width: 769px) {
      transform: translate3d(-50%, calc(-50% + 120px), 0);
    }

    @media screen and (min-width: 1081px) {
      bottom: auto;
      box-shadow: 16px -19px 0 0 var(--color-gray-fade-1),
                  32px -38px 0 0 var(--color-gray-fade-2),
                  48px -57px 0 0 var(--color-gray-fade-3),
                  64px -76px 0 0 var(--color-gray-fade-4);
      transform: translate3d(-50%, calc(-50% + 50px), 0);
    }

    > a {
      opacity: 1;
      pointer-events: all;
    }
  }
}