.pull-left {
  float: none;

  @media screen and (min-width: 1081px) {
    float: left;
  }
}

.pull-right {
  float: none;

  @media screen and (min-width: 1081px) {
    float: right;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: center;

  @media screen and (min-width: 1081px) {
    text-align: right;
  }
}

.text-left {
  text-align: center;

  @media screen and (min-width: 1081px) {
    text-align: left;
  }
}

.half-lg {
  width: 100%;

  @media screen and (min-width: 1081px) {
    width: 50%;
  }
}