---
layout: index
---

<div class="content">
  <h1>Hi, I'm <em>Nicolás Joel</em></h1>
  <h2>
    I'm a graphic designer and front-end developer.<br>
    If you want to know me a bit better, you can visit these sites:
  </h2>
  <ul>
    <li>
      <a href="https://twitter.com/NicolasJEngler" title="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://ar.linkedin.com/in/nicolasjengler" title="LinkedIn">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </li>
    <li>
      <a href="https://dribbble.com/nicolasjengler" title="Dribbble">
        <i class="fa fa-dribbble"></i>
      </a>
    </li>
    <li>
      <a href="https://behance.net/nicolasjengler" title="Behance">
        <i class="fa fa-behance"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/NicolasJEngler" title="GitHub">
        <i class="fa fa-github-alt"></i>
      </a>
    </li>
    <li>
      <a href="https://codepen.io/nicolasjengler" title="CodePen">
        <i class="fa fa-codepen"></i>
      </a>
    </li>
  </ul>
</div> <!-- /content -->
