---
layout: index
---

<section class="info">
  <section class="text">
    <h1>Nicolás J. Engler</h1>
    <h2>UI/UX designer - Frontend developer</h2>
  </section>

  <div class="particles" data-parallaxify-range-x="150" data-parallaxify-range-y="150">
    <img class="arrow" src="images/particles/arrow.svg">
    <img class="circle" src="images/particles/circle.svg">
    <img class="cross" src="images/particles/cross.svg">
    <img class="square" src="images/particles/square.svg">
    <img class="triangle" src="images/particles/triangle.svg">
  </div>

  <section class="social">
    <a href="https://twitter.com/NicolasJEngler" title="Twitter">
      <img src="images/social/twitter.svg">
    </a>

    <a href="https://ar.linkedin.com/in/nicolasjengler" title="LinkedIn">
      <img src="images/social/linkedin.svg">
    </a>

    <a href="https://dribbble.com/nicolasjengler" title="Dribbble">
      <img src="images/social/dribbble.svg">
    </a>

    <a href="https://behance.net/nicolasjengler" title="Behance">
      <img src="images/social/behance.svg">
    </a>

    <a href="https://github.com/NicolasJEngler" title="GitHub">
      <img src="images/social/github.svg">
    </a>

    <a href="https://codepen.io/nicolasjengler" title="CodePen">
      <img src="images/social/codepen.svg">
    </a>
  </section>
</section> <!-- /content -->