---
layout: index
---

<section class="info">
  <h1 class="info__title">
    Hi, I'm Nicolás Joel Engler
  </h1>

  <p class="info__text">I'm a UI/UX designer, front-end developer, and sociology enthusiast. Get to know me a little bit better by visiting some of the links below:</p>

  <ul class="info__links">
    <li class="info__links__item">
      <a class="info__links__item__link" href="https://twitter.com/NicolasJEngler" target="_blank" title="Twitter">Twitter</a>
    </li>

    <li class="info__links__item">
      <a class="info__links__item__link" href="https://ar.linkedin.com/in/nicolasjengler" target="_blank" title="LinkedIn">LinkedIn</a>
    </li>

    <li class="info__links__item">
      <a class="info__links__item__link" href="https://dribbble.com/nicolasjengler" target="_blank" title="Dribbble">Dribbble</a>
    </li>

    <li class="info__links__item">
      <a class="info__links__item__link" href="https://behance.net/nicolasjengler" target="_blank" title="Behance">Behance</a>
    </li>

    <li class="info__links__item">
      <a class="info__links__item__link" href="https://medium.com/@nicolasjengler" target="_blank" title="Medium">Medium</a>
    </li>

    <li class="info__links__item">
      <a class="info__links__item__link" href="https://github.com/NicolasJEngler" target="_blank" title="GitHub">GitHub</a>
    </li>

    <li class="info__links__item">
      <a class="info__links__item__link" href="https://codepen.io/nicolasjengler" target="_blank" title="CodePen">CodePen</a>
    </li>
  </ul>
</section> <!-- /content -->
